<div class="container pt-4">
  <div class="row">
    <div class="col-md-6 col-sm-10 m-auto">
      <h1>welcome to <span><strong><i class="fas fa-book"></i>Bookers</strong></span> !!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-10 m-auto">
      <p style="line-height:2.5rem">
        In <strong><i class="fas fa-book"></i>Bookers</strong>,<br>
        you can share and exchange your opinions, inpressions, and emotions<br>
        about various books!
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row p-2">
    <div class="col-md-5 col-8 m-auto">
      <%= link_to "Log in", new_user_session_path, class: "btn-info btn-block btn-sm text-light text-decoration-none text-center" %>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-md-5 col-8 m-auto">
      <%= link_to "Sign up", new_user_registration_path, class: "btn-success btn-block btn-sm text-light text-decoration-none text-center" %>
    </div>
  </div>
</div>
